# beakerx (kernels: java, clojure, groovy, scala, kotlin, sql) and dependencies
beakerx
py4j

# sos - script of scripts (multiple kernels)
sos
sos-notebook

#jupyter/jupyterlab extensions
jupyterlab
jupyter_contrib_nbextensions
jupyterlab_launcher
jupyterlab-git
ipywidgets
RISE
